<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer" style="background-color: transparent">
  <img src="http://thumb7.shutterstock.com/display_pic_with_logo/2689243/279703565/stock-photo-beautiful-handbag-with-women-s-accessories-stands-near-the-red-shoes-279703565.jpg" class="img-responsive img-center" style="margin-left: 10%" style="width: 800px; height: 450px">
  </header>

  <hr>

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Latest Features</h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">

    {{#each items as |item|}}

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src={{item.imageItem}} alt="imageItem" style="width: 70px; height: 70px">
        <div class="caption">
          <h3 style="font-size: 14px">{{item.name}}</h3>
          <p style="font-size: 10px">{{item.description}}.</p>
          <p>
            <a  class="btn btn-primary" {{action 'addToCart' item}}>Buy Now</a>
          </p>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
