<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MyStore</title>
</head>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index'}}<div class="navbar-brand" >MyStore</div>{{/link-to}}
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li>
          <a href="#">About</a>
        </li> -->
        <li>
          {{#link-to 'clearance'}}Clearance{{/link-to}}
        </li>
        <li>
          {{#link-to 'contact'}}Contact us{{/link-to}}
        </li>
        <li>
          {{#link-to 'admin'}}Admin{{/link-to}}
        </li>
        <li>
          {{#link-to 'shopping'}}<span class="glyphicon glyphicon-shopping-cart"></span>{{/link-to}}
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div class="container">
{{outlet}}
</div>
<div class="container">
<footer>
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <p>Copyright &copy; MyStore 2016</p>
    </div>
  </div>
</footer>
</div>
